html {
	font-size: var(--font-size-base);

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: var(--color-background);
	color: var(--color-text);
	line-height: 1.625;
	min-height: 100vh;
}
