@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-VariableFont,wght.ttf') format('truetype');
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Italic-VariableFont,wght.ttf') format('truetype');
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
}

body {
	font-family: var(--font-base);
	font-size: var(--font-size-base);
	line-height: var(--line-height-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-base);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-heading);
}

h1, .h1 {
	font-size: var(--font-size-4xl);
}

h2 {
	font-size: var(--font-size-3xl);
}

h3 {
	font-size: var(--font-size-lg);
}

h4 {
	font-size: var(--font-size-md);
}

h5 {
	font-size: var(--font-size-sm);
}

h6 {
	font-size: var(--font-size-xs);
}